# Flutter/Dart/Pub related
.dart_tool/
.packages
build/

# Miscellaneous
.idea/
.vscode/

# Flutter specific
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins
.flutter-version

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcworkspace/

# Android
.android/
app/*.iml
.gradle/
.idea/
local.properties
*.keystore
